body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h1{
  margin-bottom:0;
}
.ant-row{
  margin-left: auto;
}
.wrap{
  max-width:980px;
  margin:auto !important;
  /* color:#fff;     */
}
.dwrap .wrap{
  height: 100%;
}
.logo-m{
  color:#fff ;
  transition:.6s;
}
.logo-m:hover{
  color:rgba(255,255,255,0.7) ;
}
#logo{
  color:#fff;
  text-align:center;
  margin-bottom: 0;
}
.wrap .headerDivider{
  float: left;
  height:45px;
  margin-top:10px;
  margin-left:0;
}
.wrap .T-Menu{
  float:left;
  line-height:62px;
  background-color:transparent;
  border:none;
}
.wrap .T-Menu a{
  color:#fff !important;
}
.wrap .T-Menu a:hover{
  color: #1890ff !important;
}

.main .wrap{
  border:1px solid #ccc;
  border-top:none;
  border-bottom:none;
}
#MenuIndex li{
  text-align: center;
  margin-right: -1px;
  transition: none;
  border-right: 3px solid rgba(0, 0, 0, 0);
}
#MenuIndex li:hover,
#MenuIndex .ant-menu-item-selected {
  background: #e6f7ff;
  border-right-color:#1890ff;
}
.IndexList{
  border-left:1px solid #ccc;
}
.pic{
  padding-top:15px;
}
.pic > .ant-list-item-meta-avatar{
  padding-top:5px;
  padding-left:10px;
}

.ant-card-body img{
  width:300px;
}
.listItem{
  position: relative;
  display:block;
}
#list .ant-list-items{
  padding-left:30px;
}
.listItem img{
  width:100%;
}
#list .answer{
  position: absolute;
  right:15px;
  top:40%;
}


@media all and (max-width:767px){
  #MenuIndex{
    display: flex;
    justify-content: space-between;
  }
  .wrap .headerDivider{
    display: none;
  }
  .wrap #menu{
    display: none;
  }
  #MenuIndex li:hover,
  #MenuIndex .ant-menu-item-selected {
    background: #e6f7ff;
    border-bottom-color:deeppink;
    border-right-color:transparent;
  }
  #MenuIndex li:hover{
    border-right:3px solid transparent;
    border-bottom:3px solid cornflowerblue;
  }

}